<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<!-- nav 고정 -->
    <nav id="navBox">
        <a href="http://localhost:8090/anony/acc"><img id="cate-img" src="https://i.postimg.cc/5yz9JZcN/2024-01-10-003812.png"  alt="메인이미지"></a>   
<!-- https://i.postimg.cc/vHPfDVCR/image.jpg 
https://i.postimg.cc/fTgSMh0D/2.jpg
https://i.postimg.cc/zfNzrdpq/2024-01-10-004442.png-->
    </nav>
</body>
</html>